@import "_config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.signup-page {
  background-image: linear-gradient(180deg, $color1 30%, $color2 20%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  .signup-page_top {
    color: $color2;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    padding-left: 1rem;
    cursor: pointer;
  }

  .signup-form {
    background-color: $color3;
    color: rgba(127, 143, 166, 1);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 0 16px 1px $color4;
    border-radius: 0.5rem;
    width: 30%;
    @include small-screen {
      width: 300px;
    }

    h2 {
      text-align: center;
    }

    .hoot-icon {
      font-size: 75px;
      color: $color1;
      align-self: center;
    }

    .signup-form_inpt {
      outline: none;
      border: none;
      background-color: $color3;
      border-bottom: 1px solid $color4;
      padding: 0.5rem;

      &:focus {
        border: 1px solid $color4;
      }
    }

    #signup-form_avatar {
      font-size: 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    #avatar-icon {
      font-size: 30px;
      margin-right: 1rem;
    }

    #avatar {
      display: none;
    }

    .signup-form_btn {
      background-color: $color1;
      color: $color2;
      font-weight: 600;
      font-size: 1rem;
      outline: none;
      border: none;
      padding: 0.5rem;
      border-radius: 0.1rem;
      box-shadow: 0 0 8px 1px $color4;
      cursor: pointer;
    }

    .signup-form_last {
      text-align: center;
      font-size: 14px;

      #signup-link {
        text-decoration: none;
      }
    }
  }
}

.home-page {
  display: flex;
  padding: 0.8rem;
  height: 100vh;
  background-color: $color8;

  .left {
    border-radius: 1rem 0 0 1rem;
    flex: 1;
    background-color: $color6;
    padding-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    .dp {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 1px solid $color4;
      object-fit: cover;
      cursor: pointer;
    }

    .logout-button {
      background-color: transparent;
      border: none;
      .logout-icon {
        color: $color1;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }

  .middle {
    flex: 3;
    padding: 1rem 1rem 0 1rem;
    background-color: $color7;
    box-shadow: 0px 0px 4px $color11;

    .search-user-form {
      margin-top: 31px;
    }

    #search-user {
      background: url("../resources/5.png") no-repeat;
      background-size: 20px;
      background-position: 10px;
      background-color: $color8;
      height: 40px;
      padding-left: 3rem;
      padding-right: 2rem;
      outline: none;
      border: none;
      color: $color9;
      width: 100%;
      border-radius: 20px;
    }

    #search-user::placeholder {
      color: $color9;
    }

    .hr1 {
      color: $color9;
    }

    .each-chat {
      display: flex;
      background-color: $color10;
      padding: 1rem;
      height: 81px;
      border-radius: 1rem;
      cursor: pointer;
    }

    .dp {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      // border: 1px solid black;
      object-fit: cover;
      flex: 1;
    }

    .each-chat_detail {
      margin-left: 1rem;

      .each-chat_name {
        font-size: 1.25rem;
        font-weight: 700;
      }

      .recent-message {
        font-size: 0.8rem;
        font-weight: 400;
      }

      flex: 7;
    }

    .recent-chat-time {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-weight: 400;
    }
  }

  .right {
    flex: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px $color11;
    border-radius: 1rem 1rem 1rem 0;

    .top {
      flex: 1;
      background-color: $color7;
      display: flex;
      padding: 1rem 0 0.1rem 1rem;
      border-radius: 0 1rem 0 0;

      .dp {
        cursor: pointer;
        flex: 1;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          object-fit: cover;
        }
      }

      .each-chat_detail {
        margin-left: 1rem;

        .each-chat_name {
          font-size: 1.25rem;
          font-weight: 700;
          cursor: pointer;
        }

        .status {
          font-size: 0.8rem;
          font-weight: 400;
        }

        flex: 8;
      }

      .fasci {
        display: flex;
        justify-content: space-evenly;
        flex: 3;
        font-size: 1.5rem;
      }
    }

    .between {
      flex: 11;
      max-height: calc(100vh - 160px);
      background-color: $color6;
      overflow-y: scroll;
      padding: 1rem;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color9;
        border-radius: 50px;
      }

      .message {
        display: flex;
        margin-bottom: 2rem;

        .dp {
          height: 100%;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0.5rem;

          div {
            font-weight: 400;
            font-size: 0.7rem;
            text-align: center;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
          }
        }

        .msg-body {
          background-color: $color10;
          min-height: 3rem;
          border-radius: 0 1rem 1rem 1.75rem;
          padding: 1rem;
          margin: 0.5rem;
          max-width: 40%;

          &.owner {
            border-radius: 1rem 0 1.75rem 1rem;
          }
        }

        &.owner {
          flex-direction: row-reverse;
        }
      }
    }

    .bottom {
      flex: 1;
      background: #f7f9fd;
      box-shadow: 0px 0px 4px $color11;
      border-radius: 0 0 1rem 0;
    }
  }
}
