@use "../1-base/config" as config;
@use "../3-components/dp" as dp;
@use "../4-layout/chatBox" as bottom;
@use "../3-components/message";

.home-page {
  display: flex;
  padding: 0.8rem;
  height: 100vh;
  background-color: config.$color8;

  .left {
    border-radius: 1rem 0 0 1rem;
    flex: 1;
    background-color: config.$color6;
    padding-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    .dp {
      @include dp.dp-style;
    }

    .logout-button {
      background-color: transparent;
      border: none;
      .logout-icon {
        color: config.$color1;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }

  .middle {
    flex: 3;
    padding: 1rem 1rem 0 1rem;
    background-color: config.$color7;
    box-shadow: 0px 0px 4px config.$color11;

    .search-user-form {
      margin-top: 31px;
    }

    #search-user {
      background: url("../../resources/5.png") no-repeat;
      background-size: 20px;
      background-position: 10px;
      background-color: config.$color8;
      height: 40px;
      padding-left: 3rem;
      padding-right: 2rem;
      outline: none;
      border: none;
      color: config.$color9;
      width: 100%;
      border-radius: 20px;
    }

    #search-user::placeholder {
      color: config.$color9;
    }

    .hr1 {
      color: config.$color9;
    }

    .each-chat {
      display: flex;
      background-color: config.$color10;
      padding: 1rem;
      height: 81px;
      border-radius: 1rem;
      cursor: pointer;
    }

    .dp {
      @include dp.dp-style;
      flex: 1;
    }

    .each-chat_detail {
      margin-left: 1rem;

      .each-chat_name {
        font-size: 1.25rem;
        font-weight: 700;
      }

      .recent-message {
        font-size: 0.8rem;
        font-weight: 400;
      }

      flex: 7;
    }

    .recent-chat-time {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-weight: 400;
    }
  }

  .right {
    flex: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px config.$color11;
    border-radius: 1rem 1rem 1rem 0;

    .top {
      flex: 1;
      background-color: config.$color7;
      display: flex;
      padding: 1rem 0 0.1rem 1rem;
      border-radius: 0 1rem 0 0;

      .dp {
        @include dp.dp-style;
        flex: 1;
      }

      .each-chat_detail {
        margin-left: 1rem;

        .each-chat_name {
          font-size: 1.25rem;
          font-weight: 700;
          cursor: pointer;
        }

        .status {
          font-size: 0.8rem;
          font-weight: 400;
        }

        flex: 8;
      }

      .fasci {
        display: flex;
        justify-content: space-evenly;
        flex: 3;
        font-size: 1.5rem;
      }
    }

    .between {
      flex: 11;
      max-height: calc(100vh - 160px);
      background-color: config.$color6;
      overflow-y: scroll;
      padding: 1rem;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: config.$color9;
        border-radius: 50px;
      }

      .message {
        @include message.sendMessage;
      }
    }

    .bottom {
      @include bottom.chatBox;
    }
  }
}
