@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&display=swap");

$color1: rgba(9, 132, 227, 1);
$color2: rgba(223, 230, 233, 1);
$color3: rgba(245, 246, 250, 1);
$color4: rgba(116, 125, 140, 1);
$color5: rgba(127, 143, 166, 1);
$color6: #f0f4fa;
$color7: #f8faff;
$color8: #eaf2fe;
$color9: #709ce6;
$color10: white;
$color11: rgba(0, 0, 0, 0.25);

@mixin small-screen {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
