$color1: rgba(9, 132, 227, 1);
$color2: rgba(223, 230, 233, 1);
$color3: rgba(245, 246, 250, 1);
$color4: rgba(116, 125, 140, 1);
$color5: rgba(127, 143, 166, 1);

@mixin small-screen {
    @media screen and (max-width: 1024px) {
        @content;
    }
}
